# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Project Miez/.vs
/Project Miez/Project Miez.VC.VC.opendb
/Project Miez/Project Miez.VC.db

/Project Miez/Debug/*
!/Project Miez/Debug/*.dll
/Project Miez/Project Miez/Debug

/Project Miez/lib/*.*
!/Project Miez/lib/*.*
