# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Project Miez/Project Miez.VC.VC.opendb
/Project Miez/Project Miez.VC.db
/Project Miez/Project Miez/Debug/vc140.idb
/Project Miez/Project Miez/Debug/vc140.pdb
/Project Miez/Project Miez/Debug/Project Miez.tlog
/Project Miez/Debug
/Project Miez/Project Miez/Debug
